*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: hsl(36, 37%, 94%);
}

@font-face {
  font-family: "InterExbold";
  src: url("/fonts/static/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "InterRegular";
  src: url("/fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: 'InterBold';
  src: url("/public/fonts/static/Inter-Bold.ttf");
}

img {
  max-width: 100%;
  display: block;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Remove default styles for common elements */
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  margin: 50px auto;
  width: 80%;
}

nav {
  display: flex;
  /* border: 2px dotted red; */
  justify-content: space-between;
}

.nav_ul {
  display: flex;
  gap: 27px;
  color: hsl(236, 13%, 42%);
  /* border: 2px dotted lime; */
}

.imgresize {
  max-height: 250px;
  max-width: 100%;
}
main {
  display: flex;
  /* border:  dotted red; */
  margin-top: 50px;
  gap: 20px;
}

.new_section {
  /* border: 2px solid limegreen; */
  background-color: hsl(240, 100%, 5%);
  color: #fff;
  flex: 3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-family: "InterRegular";
  /* justify-content: center; */
  gap: 40px;
}
.future_section {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;

  flex: 8;
  /* position: relative; */
}
.img-desc {
  display: flex;
  /* position: absolute; */
  /* border: 2px solid blue; */
  padding-top: 20px;
  justify-content: space-around;
}
.future-heading {
  width: 60%;
  /* border: 2px solid lime; */
  font-family: "InterExbold";
  font-size: 40px;
  align-self: flex-start;
  /* font-variation-settings: 'wght' 700; */
}
.future-text {
  width: 40%;
  /* border: 2px solid grey; */
  /* border:  2px dotted red; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
button {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  align-self: flex-start;
  padding: 10px 20px;
  /* max-width:120px ; */
}
.main-text {
  color: hsl(236, 13%, 42%);
  /* border:  dotted red; */
}

.new_points {
  p {
    color: hsl(233, 8%, 79%);
    font-size: 12px;
  }
}

.new_flex{
display: flex;
flex-direction: column;
gap: 60px;
}
footer{
  /* border:2px solid dodgerblue; */
  margin-top: 50px;
  display: flex;
  font-family: "InterRegular";
  justify-content: space-between;

p{
  font-size: 12px;
  color: hsl(236, 13%, 42%);

}
h5{
  font-family: 'InterBold';
}

}

.footer_img{
max-width: 90px;
max-height: 100px;
}
.footer_options{
  display: flex;

  h2{
   color: hsl(5, 85%, 63%); 
  }
}

.footer-text{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}